* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", Arial, sans-serif;
    background-color: #fff;
    color: #222;
    overflow-x: hidden;
}

/* ---------- HEADER ---------- */
header {
  background: #172A4E;
  color: #fff;
}

.topo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo-img {
  height: 35px;
  width: auto;
}

.busca {
  display: flex;
  align-items: center;
}

.busca input {
  padding: 6px 10px;
  border: none;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.busca button {
  border: none;
  padding: 6px 10px;
  background: #d1d7d8;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.icones img {
  width: 28px;
  margin-left: 15px;
  cursor: pointer;
}

/* ---------- MENU ---------- */
nav {
  display: flex;
  justify-content: center;
  background: #BAC2CF;
  padding: 10px 0;
}

nav a {
  margin: 0 20px;
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  transition: color 0.3s;
}

nav a:hover {
  color: #8a90cc;
}