@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* =======================
      CONFIGURAÇÕES GERAIS
      -container
      -body
    ======================= */
.container { /* Container principal */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    width: 100%;
    height: 100%; /* Garante que o conteúdo da página não ultrapasse */
    justify-items: center;
    align-items: center;
    gap: 20px;
    text-align: center;
  }


.body {
    background-color: #f2f2f2;
    height: 100%; /* Garante que o body ocupe a tela toda */
    margin: 0;
    padding: 0;
    
  }


/* =======================
      CONFIGURAÇÕES DE MENU
      - PRINCIPAL
      - CATEGORIAS
    ======================= */
header {
    width: 100%; /* Garante que o cabeçalho ocupe toda a largura da tela */
    background-color: #172A4E; 
    font-family: Arial, sans-serif;
}

/* Container principal do menu */
.menu-container {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 10px 20px;
}

/* Logo */
.logo {
    display: flex; 
    align-items: center; 
}


.logo img {
    width: 350px;
    height: auto;
}

/* Ícone direito */

/* perfil */
.icone .perfil img {
    width: 80px; 
    height: 50px; 
    object-fit: contain; /* Mantém a proporção da imagem */
}

/* Menu categorias */
.menu-categorias {
    background-color: #BAC2CF; 
}

.menu-categorias ul { /* Lista de categorias */
    display: flex;
    justify-content: center;
    list-style: none; /* Remove os marcadores da lista */
}

.menu-categorias ul li { /* Itens da lista */
    margin: 10px 20px;
}

.menu-categorias ul li a { /* Links das categorias */
    text-decoration: none;
    color: black;
    font-weight: "Poppins", sans-serif;
    font-size: 14px;
}

.menu-categorias ul li a:hover { 
    color: #172A4E; /* Cor do texto ao passar o mouse */
    text-decoration: underline; /* Sublinhado ao passar o mouse */
}


/* =======================
    CONFIGURAÇÕES DE CONTEÚDO
    - CONTEÚDO PRINCIPAL
    ======================= */
.conteudo-principal { 
    font-family: "Poppins", sans-serif; /* Fonte padrão para o conteúdo */
    padding: 40px 20px;
    text-align: center;
}
    

.novidades h2 { /* Título */
        font-size: 32px;
        margin-bottom: 10px;
    }
    
    .novidades p { /* Descrição do banner de novidades */
        font-size: 16px;
        color: #000000;
        margin-bottom: 30px;
    }
    
    .banner { /* Container */
        display: flex;
        flex-direction: row; /* imagem e texto lado a lado */
        align-items: center;
        gap: 20px;
        background-color: #f2f2f2; 
        padding: 20px;
        border-radius: 10px;
    }
    
    .banner img {
        width: 200px;
        height: auto;
        border-radius: 8px;
    }
    
    .descricao {
        text-align: left; /* Alinha o texto à esquerda */
        max-width: 300px;
    }
    
    .descricao h3 {
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        margin-bottom: 10px;
    }
    
    .descricao p {
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        margin-bottom: 10px;
    }
    
    

    
