body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f9f9f9;
    color: #333;
}

/* HEADER */
header {
    background: #172A4E;
    color: #fff;
}

.topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px; /* espaço entre logo e texto */
}

.logo-img {
    height: 35px; /* ajuste conforme o tamanho do design do Figma */
    width: auto;
}


.busca {
    display: flex;
}

.busca input {
    padding: 6px;
    border: none;
    border-radius: 5px 0 0 5px;
}

.busca button {
    border: none;
    padding: 6px 10px;
    background: #d1d7d8;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.icones img {
    width: 28px;
    margin-left: 15px;
    cursor: pointer;
}

/* MENU */
nav {
    display: flex;
    justify-content: center;
    background: #BAC2CF;
    padding: 10px 0;
}

nav a {
    margin: 0 20px;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

nav a:hover {
    color: #8a90cc;
}

/* SEÇÃO NOVIDADES */
.novidades {
    text-align: center;
    padding: 40px 20px;
}

.novidades h2 {
    font-size: 26px;
    margin-bottom: 10px;
}

.novidades p {
    font-style: italic;
    margin-bottom: 20px;
    color: #555;
}

.novidades img {
    max-width: 800px;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

/* MAIS VENDIDOS */
.mais-vendidos {
    padding: 40px 20px;
    background: #fff;
}

.mais-vendidos h2 {
    text-align: center;
    margin-bottom: 30px;
}

.grid-produtos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
}

.card {
    background: #f9f9f9;
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    transition: transform 0.2s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    max-width: 100%;
    height: 180px;
    object-fit: contain;
    margin-bottom: 10px;
}

.card h3 {
    font-size: 18px;
    margin: 5px 0;
}

.card p {
    font-size: 14px;
    color: #555;
    min-height: 40px;
}

.card .preco {
    display: block;
    font-weight: bold;
    margin-top: 10px;
    color: #0c2340;
}
