<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <style>
        body {
            background-color: #3c3c3c;
            font-family: Arial, sans-serif;
            text-align: center;
            padding: 50px;
        }
        h1 {
            color: #7e7e7e;
        }
        h2 {
            color: #666;
        }
        h3 {
            color: #999;
        }
        a {
            text-decoration: none;
            color: #007BFF;
        }
    </style>
</head>
<body>
    <h1>ZYPHER SNEAKERS</h1>
    <H2>Mais que calçados.</H2>

</body>
</html>